html {
  scroll-behavior: smooth;
}
#section1, #section2, #section3, #section4, #section5, #section6 {
  padding-top: 60px;
}
/* Nav */

.fixed {
  overflow: hidden;
  background-color: #FFF;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.navbar {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.menu_logo {
  width: 70px;
  padding: .5rem;
}

.menu_list {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.menu_item a {
  display: block;
  padding: 18px 16px;
}

.menu_item a:hover {
  color: #FFF;
  background-color: #090049;
}

/* Header */

header {
  margin-top: 60px;
  width: 100%;
  background-image:url(../images/imagen_header.png);
  background-size: cover;
  background-position: center;
}
.header_main {
  margin-left: 4rem;
  padding-top:  12rem;
}
.header_logo{
  width: 290px;
}

.header_title {
  width: 450px;
  color: #FFF;
  line-height: 4rem;
  margin-top: 6rem;
  margin-bottom: .5rem;
  font-weight: 600;
}

.header_paragraph {
  font-size: 2rem;
  color: #FFF;
  margin-bottom: 1rem;
}
.cta_vivelo, .cta_invierte {
  display: inline-block;
  width: 150px;
  height: 40px;
  background-color: blue;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  border-radius: 5px;
}
.cta_invierte {
  background-color: #CCFF00;
  color: #090049;
}
.cta_vivelo {
  background-color: #090049;
  color: #FFF;
}

.cta_invierte:hover {
  background-color: #04BBFF;
  color: #090049;
}
.cta_vivelo:hover {
  background-color: #04BBFF;
  color: #FFF;
}

.boton_abajo {
  text-align: center;
  margin-top: 6rem;
}
.boton_abajo img {
  width: 40px;
}
/* Features */
.center {
  text-align: center;
}
.features {
  margin-top: 2rem;
}
.header_section {
  width: 500px;
  margin: 0 auto;
}

.features_list {
  margin: auto 4rem;
}

.features_item {
  height: 200px;
  margin-top: 1rem;
}

.features_item img {
  height: 60px;
  margin-bottom: 1.5rem;
}

.features_item p {
  width: 230px;
  margin: 0 auto;
}

.margin {
  margin-top: 3em;
  margin-bottom: 3em;
}

h3 {
  color: #090049
}

.features_background {
  width: 100%;
  height: 600px;
  background-image:url(../images/imagen_features.png);
  background-size: cover;
  background-position: center;
}

.section {
  padding: 1rem 0;
}

.features_item span {
  font-size: 6rem;
  color:#090049;
  margin-top: 2rem;
}

.image_gallery {
  max-width: 230px;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex_item {
  flex-grow: 1
}

.cta_section_invierte {
  background-color: #090049;
  color: #FFF;
  padding: 6rem;
}

.cta_section_vivelo {
  background-color: #CCFF00;
  color: #090049;
  padding: 6rem;
}

footer {
  background-color: #000;
  color: #FFF;
}

.footer_logo {
  width: 150px;
}

.footer_list {
  margin-top: 2rem;
}

.footer_item img {
  width: 2.3rem;
}

.footer_item p {
  width: 300px;
  margin-top: 0;
  padding-top: 0;
  margin-left: 1rem;
}
.footer_item img, .footer_item p {
  display: inline-block;
}

.formulario input{
  display: block;
}

input, textarea {
  width: 100%;
}




/* Images */

/* Style the Image Used to Trigger the Modal */
#myImg1,#myImg2,#myImg3,#myImg4,#myImg5,#myImg6, {
 border-radius: 5px;
 cursor: pointer;
 transition: 0.3s;
}

#myImg1:hover {opacity: 0.7;}
#myImg2:hover {opacity: 0.7;}
#myImg3:hover {opacity: 0.7;}
#myImg4:hover {opacity: 0.7;}
#myImg5:hover {opacity: 0.7;}
#myImg6:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 padding-top: 100px; /* Location of the box */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
 margin: auto;
 display: block;
 width: 80%;
 max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
 margin: auto;
 display: block;
 width: 80%;
 max-width: 700px;
 text-align: center;
 color: #ccc;
 padding: 10px 0;
 height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
 animation-name: zoom;
 animation-duration: 0.6s;
}

@keyframes zoom {
 from {transform:scale(0)}
 to {transform:scale(1)}
}

/* The Close Button */
.close {
 position: absolute;
 top: 15px;
 right: 35px;
 color: #f1f1f1;
 font-size: 40px;
 font-weight: bold;
 transition: 0.3s;
}

.close:hover,
.close:focus {
 color: #bbb;
 text-decoration: none;
 cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
 .modal-content {
   width: 100%;
 }
}
