html {
  scroll-behavior: smooth;
}

/* Texts */

h1 {
  color: #090049;
  font-weight: bold;
}

h2 {
  color: #090049;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #090049;
}

/* Ctas */

.cta_vivelo,
.cta_invierte {
  font-size: 1.6rem;
  display: inline-block;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  border-radius: 5px;
}

.cta_invierte {
  background-color: #B9CC01;
  color: #090049;
}

.cta_vivelo {
  background-color: #090049;
  color: #FFF;
}

.cta_invierte:hover {
  background-color: #a6b60a;
  color: #090049;
}

.cta_vivelo:hover {
  background-color: #13076a;
  color: #FFF;
}

/* Nav */

.sticky {
  overflow: hidden;
  position: fixed;
  position: -webkit-sticky; /* Safari */
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #FFFFFF;
  height: 68px
}

.navbar {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_logo {
  width: 80px;
}

.menu_list {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.menu_item a {
  display: inline;
  padding: 2.4rem;
  font-weight: 600;
}

.active {
  border-bottom: 4px solid #090049;
}

.menu_item a:hover {
  border-bottom: 4px solid #B9CC01;
}

/* Header */

.header_main {
  text-align: center;
  padding-top: 10rem;
}

.header_title {
  font-size: 5rem;
  width: 550px;
  margin: 0 auto;
  color: #FFF;
  line-height: 4.5rem;
  font-weight: 800;
}

.header_paragraph {
  font-size: 2.4rem;
  color: #FFF;
  margin-top: 2rem;
}

.header_icon {
  display: block;
  text-align: center;
  margin-top: 3rem
}

.header_icon img {
  width: 50px;
  opacity: 0.5;
}

.header_icon img:hover {
  opacity: 1;
}

/* Container & Sections */

.container {
  text-align: center;
}

.section1,
.section2,
.section3,
.section4,
.section5,
.section6 {
  padding-top: 68px;
}

.section1 {
  width: 100%;
  height: 480px;
  background-image:url(../images/imagen_header.png);
  background-size: cover;
  background-position: center;
}

.section_header,
.section_footer {
  width: 500px;
  margin: 0 auto;
  padding: 40px 0;
}

.section_item {
  height: 200px;
}

.section_item span {
  font-size: 6rem;
  font-weight: bold;
  color:#090049;
}

.section_item img {
  height: 60px;
  margin-bottom: 1.2rem;
}

.section_background{
  width: 100%;
  height: 600px;
  background-image:url(../images/imagen_features.png);
  background-size: cover;
  background-position: center;
}


/* Features */

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex_item {
  flex-grow: 1
}

.cta_section_invierte {
  background-color: #090049;
  color: #FFF;
  padding: 6rem;
}

.cta_section_vivelo {
  background-color: #CCFF00;
  color: #090049;
  padding: 6rem;
}

footer {
  background-color: #000;
  color: #FFF;
}

.footer_logo {
  width: 150px;
}

.footer_list {
  margin-top: 2rem;
}

.footer_item img {
  width: 2.3rem;
}

.footer_item p {
  width: 300px;
  margin-top: 0;
  padding-top: 0;
  margin-left: 1rem;
}
.footer_item img, .footer_item p {
  display: inline-block;
}

.formulario input{
  display: block;
}

input, textarea {
  width: 100%;
}
