html {
  scroll-behavior: smooth;
}

/* Texts */

h1 {
  color: #090049;
  font-weight: bold;
}

h2 {
  color: #090049;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #090049;
}

/* Buttons */

.btn_vivelo,
.btn_invierte {
  font-size: 1.6rem;
  display: inline-block;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  border-radius: 5px;
}

.btn_invierte {
  background-color: #B9CC01;
  color: #090049;
}

.btn_vivelo {
  background-color: #090049;
  color: #FFF;
}

.btn_invierte:hover {
  background-color: #a6b60a;
  color: #090049;
}

.btn_vivelo:hover {
  background-color: #13076a;
  color: #FFF;
}

/* Nav */

.sticky {
  overflow: hidden;
  position: fixed;
  position: -webkit-sticky; /* Safari */
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #FFFFFF;
  height: 68px
}

.navbar {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_logo {
  width: 80px;
}

.menu_list {
  display: flex;
  justify-content: space-between;
}

/* .menu_item a {
  display: inline;

  font-weight: 600;
} */

.btn {
  border: none;
  border-radius: 0;
  color: #090049;
  height: 68px;
}

.btn a {
  display: block;
  padding: 1rem;
}

.active {
  border-bottom: 4px solid #090049;
}

.btn:hover {
  border-bottom: 4px solid #B9CC01;
}

/* Header */

.header_main {
  text-align: center;
  padding-top: 15rem;
}

.header_title {
  font-size: 5rem;
  width: 550px;
  margin: 0 auto;
  color: #FFF;
  line-height: 4.5rem;
  font-weight: 800;
}

.header_paragraph {
  font-size: 2.4rem;
  color: #FFF;
  margin-top: 2rem;
}

.header_icon {
  display: block;
  text-align: center;
  margin-top: 3rem
}

.header_icon img {
  width: 50px;
  opacity: 0.5;
}

.header_icon img:hover {
  opacity: 1;
}

/* Container & Sections */

.container {
  text-align: center;
}

.section1,
.section2,
.section3,
.section4,
.section5,
.section6 {
  padding-top: 68px;
}

.section1 {
  width: 100%;
  height: 600px;
  background-image:url(../images/imagen_header.png);
  background-size: cover;
  background-position: center;
}

.section_header,
.section_footer {
  width: 500px;
  margin: 0 auto;
  padding: 40px 0;
}

.section_item {
  height: 200px;
}

.section_item span {
  font-size: 6rem;
  font-weight: bold;
  color:#090049;
}

.section_item img {
  height: 60px;
  margin-bottom: 1.2rem;
}

.section_background{
  width: 100%;
  height: 600px;
  background-image:url(../images/imagen_features.png);
  background-size: cover;
  background-position: center;
}


/* Section CTA */

.section_cta {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.cta_item{
  flex-grow: 1
}

.cta_section_invierte {
  background-color: #090049;
  color: #FFF;
  padding: 8rem;
}

.cta_section_vivelo {
  background-color: #B9CC01;
  padding: 8rem;
}

.cta_section_invierte h2 {
  color: #FFF;
}


/* Map */

.map {
  padding-top: 80px;
}


/* Footer */

.footer {
  padding: 10rem 0;
  background-color: #070130;
  color: #FFF;
}

.footer_title h2 {
  color: #FFF;
  margin-bottom: 6rem;
}

.footer_main {
  text-align: left;
}

.footer_logo {
  width: 150px;
}

.footer_list {
  margin-top: 2rem;
}

.footer_item img {
  width: 2.3rem;
}

.footer_item p {
  width: 300px;
  margin-top: 0;
  padding-top: 0;
  margin-left: 1rem;
}
.footer_item img, .footer_item p {
  display: inline-block;
}

/* Form */

.formulario input{
  display: block;
  color: #000;
}

input, textarea {
  width: 100%;
  color: #000;
}

.btn_form {
  width: 200px;
  color: #FFF;
}

.btn_form:hover {
  background-color: #92a106;
}


/* Images Gallery*/

/* Style the Image Used to Trigger the Modal */
#myImg1,
#myImg2,
#myImg3,
#myImg4,
#myImg5,
#myImg6,
#myImg7,
#myImg8,
#myImg9 {
 border-radius: 5px;
 cursor: pointer;
 transition: 0.3s;
 width: 320px;
}

#myImg1:hover {opacity: 0.7;}
#myImg2:hover {opacity: 0.7;}
#myImg3:hover {opacity: 0.7;}
#myImg4:hover {opacity: 0.7;}
#myImg5:hover {opacity: 0.7;}
#myImg6:hover {opacity: 0.7;}
#myImg7:hover {opacity: 0.7;}
#myImg8:hover {opacity: 0.7;}
#myImg9:hover {opacity: 0.7;}


/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 padding-top: 100px; /* Location of the box */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
 margin: auto;
 display: block;
 width: 80%;
 max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption1,
#caption2,
#caption3,
#caption4,
#caption5,
#caption6,
#caption7,
#caption8,
#caption9 {
 margin: auto;
 display: block;
 width: 80%;
 max-width: 700px;
 text-align: center;
 color: #ccc;
 padding: 10px 0;
 height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption1,
#caption2,
#caption3,
#caption4,
#caption5,
#caption6,
#caption7,
#caption8,
#caption9 {
 animation-name: zoom;
 animation-duration: 0.6s;
}

@keyframes zoom {
 from {transform:scale(0)}
 to {transform:scale(1)}
}

/* The Close Button */
.close1,
.close2,
.close3,
.close4,
.close5,
.close6,
.close7,
.close8,
.close9  {
 position: absolute;
 top: 15px;
 right: 35px;
 color: #f1f1f1;
 font-size: 40px;
 font-weight: bold;
 transition: 0.3s;
}

.close1:hover,
.close2:hover,
.close3:hover,
.close4:hover,
.close5:hover,
.close6:hover,
.close7:hover,
.close8:hover,
.close9:hover,
.close1:focus,
.close2:focus,
.close3:focus,
.close4:focus,
.close5:focus,
.close6:focus,
.close7:focus,
.close8:focus,
.close9:focus {
 color: #bbb;
 text-decoration: none;
 cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
 .modal-content {
   width: 100%;
 }
}

/* Formulairo */

.textarea-form {
  max-width: 100%;
  min-width: 100%
  max-height: 90px;
}


.modal_wrap {
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mensaje_modal {
  background-color: #fff;
  width: 400px;
  padding: 30px;
}
.mensaje_modal h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.mensaje_modal p {
  font-size: 16px;
  margin-bottom: 1rem;
}

.mensaje_modal p:before {
  content: "•";
  color: red;
  margin-right: 8px;
}

.mensaje_modal #btn_close {
  display: inline-block;
  padding: 3px 10px;
  margin-top: 10px;
  background-color: #090049;
  color: #FFF;
  cursor: pointer;
  float: right;
}
